%link-cta{
    background-color: #66bb55;
    color: white;
    text-decoration: none;
    border-radius: 500px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
}
%hero__footer{
    color: white;
    font-size: 12px;
}