.hero__cta-button {
  background-color: #66bb55;
  color: white;
  text-decoration: none;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
}

.hero__footer-link, .hero__footer-text {
  color: white;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  position: relative;
}

header {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 7%;
  z-index: 3;
}

.header__logo {
  padding-top: 20px;
  height: 41px;
  width: 132px;
}

.navigation {
  width: 561px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navigation__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 28px 17px;
}
.navigation__link:hover {
  color: black;
}
.navigation__separator {
  margin: 0 1px;
  width: 1px;
  height: 16px;
  background-color: white;
}

.hero {
  height: 545px;
  background-color: #509BF5;
  background-image: url("../src/img/premium_dancer.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1140px;
}
.hero__title {
  font-size: 80px;
  word-spacing: -10px;
  margin: 0;
}
.hero__subtitle {
  font-size: 30px;
  word-spacing: -2px;
}
.hero__cta-button {
  padding: 17px 48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  margin-top: 20px;
}
.hero__cta-button:hover {
  background-color: #1ed760;
  transform: scale(1.04);
}
.hero__footer-text {
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}
.section__benefits {
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 100vh;
}

.section__big-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.benefits-container {
  display: flex;
}