header{
    margin: 0 auto;
    width: 100vw;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: black;
    @include media(tablet){
        width: 86%;
        height: initial;
        background-color: transparent;
    }
}
.header__logo{
    padding: 0;
    height: 29px;
    width: 89px;
    @include media(tablet){
        height: 41px;
        width: 132px;
        padding-top: 20px;

    }
}
.navigation{
    align-self: center;
    width: 50px;
    display: none;
    justify-content: space-evenly;
    list-style: none;
    &__link{
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 28px 17px;
        &:hover{
            color: black;
        }
    }
    &__separator{
        margin:0 1px;
        width: 1px;
        height: 16px;
        background-color: white;

    }
    @include media(tablet){
        display: flex;
        width: 561px;
    }
}