header
    img(src="src/img/spotify-white.logo.png", alt="Logo de spotify", class="header__logo")
   
    nav.header__nav
        .header-hamburger
            a(href="/")
                img(src="src/img/open-menu.png", alt="Boton de menu")
        ul.navigation
            li
                a(href="/" class="navigation__link") Premium
            li
                a(href="/" class="navigation__link") Ayuda
            li
                a(href="/" class="navigation__link") Descargar
            li.navigation__separator
            li
                a(href="/" class="navigation__link") Registrarse
            li
                a(href="/" class="navigation__link") Iniciar Sesión 