
<header><img src="src/img/spotify-white.logo.png" alt="Logo de spotify"/>
  <nav class="header__nav">
    <ul class="navigation">
      <li><a class="navigation__link" href="/">Premium</a></li>
      <li><a class="navigation__link" href="/">Ayuda</a></li>
      <li><a class="navigation__link" href="/">Descargar</a></li>
      <li class="navigation__separator"></li>
      <li><a class="navigation__link" href="/">Registrarse</a></li>
      <li><a class="navigation__link" href="/">Iniciar Sesión </a></li>
    </ul>
  </nav>
</header>