extend components/headers/headers.pug
block contenidos
    .main
        include components/navbars/navbars.pug    
        include components/heroes/heroes.pug
    include components/benefits/benefits.pug
    include components/plans/plans.pug
    include components/footers/footers.pug