section
    article
        h1.section__mid-title Elige tu plan Premium
        h2.section__subtitle Escucha sin límites en tu teléfono, tus altavoces y otros dispositivos.
        +plan('Individual', descripcionPlanUno,beneficiosPlanUno)
        +plan('Duo', descripcionPlanDos,beneficiosPlanDos)
        +plan('Familiar', descripcionPlanTres,beneficiosPlanTres)