.hero{
    background-color: #509BF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    @include media(tablet){
        background-image: url("../src/img/premium_dancer.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 450px;    
        height:545px;
        padding: 50px 0;
        padding-top: 50px;
    }
    &__text-container{
        text-align: left;
        margin-top: 120px;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media(mobile-s){
            text-align: initial;
            max-width: 372px;
        }
        @include media(tablet){
            margin-left: initial;
            margin-top: initial;
            max-width: 720px;
            height: 500px;
        }
        @include media(desktop-s){
            margin-top: initial;
            max-width: 940px;
        }
        @include media(desktop-m){
            margin-top: initial;
            max-width: 1140px;
        }
    }
    &__title{
        font-size: 48px;
        @include media(desktop-s){
            font-size: 80px;
            word-spacing: -10px;
        }
        margin: 0;
    }
    &__subtitle{
        font-size: 24px;
        @include media(tablet){
            word-spacing: -2px;
            font-size: 30px;
        }
    }
    &__cta-button{
        @extend %link-cta;
        width: fit-content;
        font-size: 14px;
        margin-top: 20px;
        &:hover{
            @extend %link-cta--hover;
        }
    }
    &__footer{
        justify-self: end;
        align-items: flex-start;
        height: 50px;
        width: 100vw;
        margin-top: auto;
        @include media(desktop-m){
            max-width: 1140px;
            align-items: center;
        }
        @include media(desktop-s){
            max-width: 940px;
        }
        @include media(tablet){
            max-width: 720px;
        }
    }
    &__footer-text{
        @extend %hero__footer;
        margin-bottom: 40px;
    }
    &__footer-link{
        @extend %hero__footer;
    }
}