section.hero
    .hero__text-container
        h1.hero__title Obtén Premium gratis por 1 mes
        h2.hero__subtitle Después, solo 5.99 USD al mes. Cancela cuando quieras.
        a.hero__cta-button(href="/") Ver planes
        p.hero__footer-text #[a.hero__footer-link(href="/") Aplican términos y condiciones.] El mes gratis no está disponible para los usuarios que ya hayan probado Premium.