.section__benefits{
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 100vh;
}
.section__big-title{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.benefits-container{
    display: flex;
}