section.section__benefits    
     article
        h1.section__big-title ¿Por qué ser premium?
        .benefits-container
            +benefit('benefit_1.png','Descarga tu música.','Escúchala desde cualquier lugar.')
            +benefit('benefit_2.png','Sin anuncios que interrumpan tu música.','Disfruta de tu música sin interrupciones.')
            +benefit('benefit_3.png','Reproduce lo que quieras.','Incluso en dispositivos móviles.')
            +benefit('benefit_4.png','Salta canciones de forma ilimitada.','Solo haz clic en Siguiente.') 