footer
    .footer
        ul.footer__navigation
            li.footer__link Legal
            li.footer__link Cookies
            li.footer__link Sobre los anuncios
        .footer__country
            a.footer__link República Dominicana
            img.footer__flag(src="src/img/do.svg", alt="Bandera de República Dominicana")
        p.footer__copyright © 2020 Spotify AB